<div class="p-6 md:p-10 section-card dashboard">
  <!-- Header -->
  <!-- <header class="mb-8 flex justify-between items-center">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white">
      Blog Management Overview
    </h1>
  </header> -->

  <!-- Content Snapshot -->
  <section class="mb-10">
    <!-- <h2 class="text-xl font-semibold text-gray-700 dark:text-gray-300 mb-4">
      Content Snapshot
    </h2> -->
    <div
      class="p-6 bg-white dark:bg-gray-800 rounded-xl shadow-lg border border-gray-200 dark:border-gray-700"
    >
      <app-kpi-dashboard></app-kpi-dashboard>
      <app-traffic-engagement></app-traffic-engagement>
      <app-impressions-category></app-impressions-category>
      <app-trending-blogs-table></app-trending-blogs-table>
      <app-category-distribution></app-category-distribution>
    </div>
  </section>
</div>
