<app-hero-section></app-hero-section>

@defer (on viewport) {
  <app-choose-us></app-choose-us>
} @placeholder {
  <div style="min-height: 50vh;"></div>
}

@defer (on viewport) {
  <app-about-section></app-about-section>
} @placeholder {
  <div style="min-height: 50vh;"></div>
}

@defer (on viewport) {
  <app-tech-icon-carousel></app-tech-icon-carousel>
} @placeholder {
  <div style="min-height: 30vh;"></div>
}

@defer (on viewport) {
  <app-service-section></app-service-section>
} @placeholder {
  <div style="min-height: 50vh;"></div>
}

@defer (on viewport) {
  <app-technology-section></app-technology-section>
} @placeholder {
  <div style="min-height: 50vh;"></div>
}

@defer (on viewport) {
  <app-testimonial-section></app-testimonial-section>
} @placeholder {
  <div style="min-height: 50vh;"></div>
}
